<!DOCTYPE html>
<!-- https://www.youtube.com/watch?v=wVvhqJBcmcg -->

<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="Igor Felipe Boniatti" content="">
	    <title>Projeto Maria da Penha</title>

	    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
	    <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="row">
				<div class="logo">
					<%= link_to(image_tag ("logo_fundo_preto.png")) %>
				</div>

				<ul class="main-nav">
					<li><a href="">A LEI MARIA DA PENHA</a></li>
					<li><a href="">REDE DE ATENDIMENTO</a></li>
					<li><a href="">VAGAS DE EMPREGO</a></li>
					<li><a href="">PUBLICAÇÕES</a></li>
					<li><a href="">TIRE DÚVIDAS</a></li>
					<li>|</li>
					<li><a href="">PLANO MUNICIPAL</a></li>
				</ul>
			</div>

			<div class="hero">
				<h1>PROJETO</h1>
				<h1>MARIA DA PENHA</h1>
				<h1>CHAPECÓ</h1>
			</div>

		</header>


	</body>
</html>